/*-------------------------------------------------------------------
                              INDEX.PHP MAIN
 -------------------------------------------------------------------*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

article {
    text-align: center;
    margin: 20px;
}

article img {
    width: 100%;
    border: #202020 solid 3px;
    border-radius: 4px;
}

article a, article h3, article p {
    margin: 0.6rem 0;
}

article h3 {
    margin-top: 1rem;
}

.dog-main-page-info {
    display: grid;
    grid-template-rows: 1fr 4rem 1fr 1fr;
}

/*-------------------------------------------------------------------
                             NARROW RESOLUTIONS
 -------------------------------------------------------------------*/

@media screen and (max-width: 850px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}