/*-------------------------------------------------------------------
                              INDEX.PHP MAIN
 -------------------------------------------------------------------*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
}

article div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article img {
    width: 100%;
}

a.chip {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    color: #FFFFFF;
    height: 35px;
    border-radius: 25px;
    background-color: #202020;
}

a.active-temperament {
    color: #202020;
    background-color: #FFFFFF;
}

a.chip:hover {
    color: #202020;
    background-color: #FFFFFF;
}

.chip div {
    margin-left: 5px;
}

.chip img {
    height: 20px;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

/*-------------------------------------------------------------------
                             NARROW RESOLUTIONS
 -------------------------------------------------------------------*/

@media screen and (max-width: 850px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}