/*-------------------------------------------------------------------
                              INDEX.PHP MAIN
 -------------------------------------------------------------------*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
}

article div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article img {
    width: 100%;
}

.chip {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #FFFFFF;
    height: 50px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 25px;
    width: 200px;
    background-color: #000000;
}

.chip img {
    float: left;
    height: 40px;
}

.chip div {
    margin-left: 10px;
}

/*.bone {*/
/*    background-image: url("../assets/bone.png");*/
/*    height: 40px;*/
/*    width: 40px;*/
/*}*/

/*-------------------------------------------------------------------
                             NARROW RESOLUTIONS
 -------------------------------------------------------------------*/

@media screen and (max-width: 850px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}